.content-scroll:hover {
 font-weight: bold;
 text-decoration: underline !important;
 cursor: pointer;
}

.embedded-scroll {
 color: blue !important;
}

.embedded-scroll:hover {
 text-decoration: underline !important;
 cursor: pointer;
}