.custom-btn {
 border-radius: 5px;
 color: black;
 background-color: #fdfdfd;
 border-color: black;
 outline: none;
 margin: 3px;
}

.custom-btn:hover {
 background-color: #46a04a;
 border-color: black;
 color: white;
}

.custom-btn:focus {
 background-color: #fdfdfd;
 border-color: black;
 color: black;
 box-shadow: none;
}

.custom-btn:active {
 background-color: #fdfdfd !important;
 border-color: black !important;
 color: black !important;
 box-shadow: none;
 outline: none;
}

.custom-block-btn {
 background-color: #46a04a;
 border-color: black;
 color: white;
}

.scroll-btn {
 background: inherit;
 box-shadow: none;
 border: none;
 margin: none;
 padding: 0 !important;
 color: blue;
}

.scroll-btn:hover {
 text-decoration: underline;
}

.contents-btn {
 background: inherit;
 box-shadow: none;
 border: none;
 margin: none;
 padding: 0 !important;
}

.contents-btn:hover {
 font-weight: bold;
 text-decoration: underline;
}