
@font-face {
 font-family: 'Montserrat';
 src: url(../../fonts/Montserrat-Regular.ttf);
}

html, body {
 font-family: Montserrat, sans-serif !important;
 background-color: #fdfdfd;
}

a {
 color: rgb(3, 3, 207);
}