.alphabet-container {
 display: flex;
 font-size: 30px;
}

.alphabet-list {
 margin: 50px;
}

ul {
 display: grid;
 grid-template-columns: 1fr repeat(25, 1fr);
 grid-gap: 5px;
 list-style-type: none;
 position: absolute;
 width: 95%;
 margin: 5px auto 0;
 padding: 10px;
}

table {
 border-collapse: collapse;
 margin: 0 auto;
 margin-top: 50px;
 margin-bottom: 50px;
 border: 1px solid black;
 width: 30%;
}

th, td {
 text-align: center;
 padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #d9f2d9;}

th {
 background-color: #4CAF50;
 color: white;
}
