.alphabet-container {
 font-size: 30px;
}

ul {
 display: flex;
 list-style-type: none;
 padding-left: 0;
}

ul li {
 width: 3.8vw;
}

@media screen and (max-width: 775px) {
 ul {
  display: grid;
  grid-template-columns: 1fr repeat(12, 2fr);
  column-gap: 15px;
 }
}

@media screen and (max-width: 400px) {
 ul {
  display: grid;
  grid-template-columns: 1fr repeat(8, 3fr);
  column-gap: 25px;
 }
}