.season-view-btn-container {
 margin-bottom: 10px;
}

.season-btn {
 width: 180px;
}

.greatest-seasons-btn {
 width: 250px;
 margin-bottom: 10px;
 margin-top: 10px;
}

.greatest-seasons-btn-container {
 display: flex;
 width: 50%
}

.season-view-title-container h1 {
 margin-bottom: 0px;
}

.season-view-title-container {
 margin-bottom: 15px;
}