
.table-container thead tr.first-row th {
 position: sticky; 
 top: 0;
}

.table-container thead tr.second-row th {
 position: sticky; 
 top: 26.5px;
}

table {
 height: 500px;
 display: block;
 overflow-y: auto;
}

th, td {
 text-align: center;
 font-size: 12px;
 white-space: nowrap;
 padding: 4px 3px !important;
}

th {
 background-color: #3A8340;
 color: white;
 font-weight: bold;
 z-index: 0;
}

tr:hover {
 background-color: #3A8340;
 color: white;
 a {
  color: white;
 }
}

.score-column {
 font-weight: bold;
}

//Styles by view

// Greatest Players
.greatest-players table {
 height: 461px;
}
.greatest-players td {
 width: 2%;
}
// // Greatest teams
.greatest-teams table {
 height: 488px;
}
.greatest-teams td {
 width: 10%;
}
// // Greatest seasons overall
.greatest-seasons-overall table {
 height: 435px;
}
.greatest-seasons-overall td {
 width: 20%;
}
.greatest-seasons-overall-container {
 margin-left: -100px;
 margin-right: -100px;
}

// Greatest seasons RS and PO
.greatest-seasons-rsp table {
 height: 434px;
}
.greatest-seasons-rsp td {
 width: 10%;
}
// Seasons list
.seasons-list table {
 height: 488px;
}
.seasons-list td {
 width: 5%;
}
// Overall season
.overall-season-container {
 margin-left: -100px;
 margin-right: -100px;
}

@media screen and (max-width: 1311px) {
 .overall-season-container, .greatest-seasons-overall-container {
  margin-left: auto;
  margin-right: auto;
 }
}

.season-overall table {
 height: 408px;
}
.season-overall td {
 width: 1%;
}
// RS and PO seasons
.season-rsp table {
 height: 407px;
}
.season-rsp td {
 width: 5%;
}
//Franchise history
.franchise-history table {
 height: 462px;
}
.franchise-history td {
 width: 1%;
}
// Team View
.team-table table {
 height: auto;
}
.team-table td {
 width: 5%;
}
.empty-row {
 border-left: none !important;
 border-bottom: none !important;
}
.empty-row:last-child {
 border-right: none !important;
}
// Player View
.player-table table {
 height: auto;
}
.player-table td {
 width: auto;
}
// Player list 
.player-list table {
 height: 488px;
}
.player-list td {
 width: 33vw;
}

// Team list
.active-franchises, .defunct-franchises {
 height: 435px;
 -ms-overflow-style: none;  // IE and Edge
  scrollbar-width: none; // Firefox
}
.active-franchises::-webkit-scrollbar, .defunct-franchises::-webkit-scrollbar {
 display: none; // Chrome
}

@media screen and (max-width: 767px) {

 .active-franchises, .defunct-franchises {
  th {
    width: 25%;
  }
 }
}
