.team-header-container {
 display: flex;
 align-content: space-between;
}

.team-value-header {
 width: 60%;
}

.team-value-header h3 {
 margin-left: 0px;
}

.team-btn-container {
 width: 40%;
}

.season-change-btn-container {
 float: right;
 margin-top: 20px;
 padding-top: 30px;
}

.index-btn-container {
 float: right;
}

@media screen and (max-width: 500px) {
.team-header-container {
 display: block;
}
.team-value-header, .team-btn-container {
 width: 100%;
}
.season-change-btn-container {
 float: none;
 margin-top: 0;
 padding-top: 0;
}
.index-btn-container {
 float: none;
}
}
