
.franchise-list-container {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

@media screen and (max-width: 767px) {

 .franchise-list-container {
  display: block;
 }
 .active-franchises-container, .defunct-franchises-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }
}