.team-header-container {
 display: flex;
 align-content: space-between;
}

.team-btn-container {
 width: 380px;
}

.season-change-btn-container {
 float: right;
 margin-top: 20px;
}

.index-btn-container {
 float: right;
}
